.text-decorator-none{
    text-decoration: none;
}

.ca2{
    /*background: linear-gradient(36deg, rgb(190, 190, 210) 8%, rgb(35, 141, 190) 80%);*/

    background: linear-gradient(36deg, rgb(234, 231, 231) 8%, rgb(143, 143, 146) 80%);
}

.auto {
    font-weight: bold !important;
}

.avatar {
    padding: 10px ;
}
