.titulo{
    font-weight: bold !important;
    
 }

 .back2{
    background-color:  #2f46d9 !important ;
    color: rgb(255, 255, 255) !important;
    font-size: 18px !important;
 }

 .botao5:hover{
    color: aqua;
 }

 