.caixa1{
    background-color: #C0C0C0;
}

.titulo{
   color: rgb(0, 0, 0) !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(0, 0, 0) !important;
    background-color: #acadaf !important;
    color: rgb(68, 68, 68) !important;
    border-radius: 30px !important;
    font-size: bold !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}