.card-principal{
    background-color: #3f51b5;
}

.card-imagem{
    max-height: 150px ;
    border-radius: 32px;
    object-fit: cover;
}

.card-container-texto{
    max-width: 550px;
    color: #fff;
    text-align: justify;
}