.imagem2{
    background-image: url(../../assets/img/imagem4.jpeg);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    /*width: 100vw;
    min-height: calc(100vh - 64px); */
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.caixa3{
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    width: 500px;
    
    border-color: #444441;
    background: linear-gradient(36deg, #ffffff90 16%, #31303090 80%)!important;
}

button.btnCancelar2:hover{
    background-color: #e91e1e !important;
    color: #090b0a;
    border:3px solid #c13b19;
}

.btnCancelar2{
    background-color: #982727 !important;
    color: black !important;
    border: 2px solid #110f0f !important;
    font-size: bold !important;
    border-radius: 30px !important;
  
}

button.btcadastrar:hover{
    background-color: #11e21f !important;
    color: #002c06;
    border:3px solid #00ff00;
}

.btcadastrar{
    background-color: 	#45bd35 !important;
    color: black !important;
    border: 2px solid #002c06 !important;
    font-size: bold !important;
    margin-left: 25px !important;
    border-radius: 30px !important;
}


